In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv(r"C:\Users\Asus\Desktop\Simplilearn Projects\Data sets\TMDB DATASET\CleanedTMDB1000.csv")

In [3]:
df.head(3)

,Unnamed: 0,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,keywords,cast,crew
0,0,False,https://image.tmdb.org/t/p/original//xOA4MbyJZ...,"['Drama', 'Crime']",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",124.718,https://image.tmdb.org/t/p/original//3bhkrj58V...,1972-03-14,The Godfather,False,8.7,18148,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,False,https://image.tmdb.org/t/p/original//xOA4MbyJZ...,"['Drama', 'Crime']",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,92.927,https://image.tmdb.org/t/p/original//lyQBXzOQS...,1994-09-23,The Shawshank Redemption,False,8.7,24030,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,2,False,https://image.tmdb.org/t/p/original//xOA4MbyJZ...,"['Drama', 'Crime']",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,61.583,https://image.tmdb.org/t/p/original//bMadFzhjy...,1974-12-20,The Godfather Part II,False,8.6,10955,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [4]:
df['year'] = pd.DatetimeIndex(df['release_date']).year
df.head(1)

,Unnamed: 0,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,keywords,cast,crew,year
0,0,False,https://image.tmdb.org/t/p/original//xOA4MbyJZ...,"['Drama', 'Crime']",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",124.718,https://image.tmdb.org/t/p/original//3bhkrj58V...,1972-03-14,The Godfather,False,8.7,18148,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno...",1972

In [5]:
df.isnull().sum()

Unnamed: 0           0
adult                0
backdrop_path        0
genre_ids            0
id                   0
original_language    0
original_title       0
overview             2
popularity           0
poster_path          0
release_date         0
title                0
video                0
vote_average         0
vote_count           0
keywords             0
cast                 0
crew                 0
year                 0
dtype: int64

In [6]:
df.shape

(10000, 19)

In [7]:
df.drop("Unnamed: 0", axis =1, inplace = True)

In [8]:
df.shape

(10000, 18)

In [9]:
df.head(1)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,keywords,cast,crew,year
0,False,https://image.tmdb.org/t/p/original//xOA4MbyJZ...,"['Drama', 'Crime']",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",124.718,https://image.tmdb.org/t/p/original//3bhkrj58V...,1972-03-14,The Godfather,False,8.7,18148,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno...",1972

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   backdrop_path      10000 non-null  object
 2   genre_ids          10000 non-null  object
 3   id                 10000 non-null  int64
 4   original_language  10000 non-null  object
 5   original_title     10000 non-null  object
 6   overview           9998 non-null   object
 7   popularity         10000 non-null  float64
 8   poster_path        10000 non-null  object
 9   release_date       10000 non-null  object
 10  title              10000 non-null  object
 11  video              10000 non-null  bool
 12  vote_average       10000 non-null  float64
 13  vote_count         10000 non-null  int64
 14  keywords           10000 non-null  object
 15  cast               10000 non-null  object
 16  crew               10000 non-null  object
 17  year               10000 non-null  int64
dtypes: bool(2), float64(2), int64(3), object(11)
memory usage: 1.2+ MB

In [11]:
df.head(1)['cast'].values

array(['[{\'adult\': False, \'gender\': 2, \'id\': 3084, \'known_for_department\': \'Acting\', \'name\': \'Marlon Brando\', \'original_name\': \'Marlon Brando\', \'popularity\': 20.083, \'profile_path\': \'/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg\', \'cast_id\': 146, \'character\': \'Don Vito Corleone\', \'credit_id\': \'6489aa85e2726001072483a9\', \'order\': 0}, {\'adult\': False, \'gender\': 2, \'id\': 1158, \'known_for_department\': \'Acting\', \'name\': \'Al Pacino\', \'original_name\': \'Al Pacino\', \'popularity\': 35.377, \'profile_path\': \'/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg\', \'cast_id\': 147, \'character\': \'Michael Corleone\', \'credit_id\': \'6489aa936f8d9500afdf219c\', \'order\': 1}, {\'adult\': False, \'gender\': 2, \'id\': 3085, \'known_for_department\': \'Acting\', \'name\': \'James Caan\', \'original_name\': \'James Caan\', \'popularity\': 19.723, \'profile_path\': \'/v3flJtQEyczxENi29yJyvnN6LVt.jpg\', \'cast_id\': 148, \'character\': \'Sonny Corleone\', \'credit_id\': \'6489aabc99259c00ff111136\', \'order\': 2}, {\'adult\': False, \'gender\': 2, \'id\': 3087, \'known_for_department\': \'Acting\', \'name\': \'Robert Duvall\', \'original_name\': \'Robert Duvall\', \'popularity\': 20.504, \'profile_path\': \'/3tcKxC5Sc3DJ6XPDKKC2EAomEWn.jpg\', \'cast_id\': 149, \'character\': \'Tom Hagen\', \'credit_id\': \'6489aace99259c011c42808d\', \'order\': 3}, {\'adult\': False, \'gender\': 2, \'id\': 3086, \'known_for_department\': \'Acting\', \'name\': \'Richard S. Castellano\', \'original_name\': \'Richard S. Castellano\', \'popularity\': 8.161, \'profile_path\': \'/1vr75BdHWret81vuSJ3ugiCBkxw.jpg\', \'cast_id\': 150, \'character\': \'Clemenza\', \'credit_id\': \'6489aaf86f8d9500c88bea14\', \'order\': 4}, {\'adult\': False, \'gender\': 1, \'id\': 3092, \'known_for_department\': \'Acting\', \'name\': \'Diane Keaton\', \'original_name\': \'Diane Keaton\', \'popularity\': 29.682, \'profile_path\': \'/tnx7pJqisfAzvXOR5wHQsbnH9XH.jpg\', \'cast_id\': 151, \'character\': \'Kay Adams\', \'credit_id\': \'6489ab23bf31f25055a33a46\', \'order\': 5}, {\'adult\': False, \'gender\': 1, \'id\': 3094, \'known_for_department\': \'Acting\', \'name\': \'Talia Shire\', \'original_name\': \'Talia Shire\', \'popularity\': 18.507, \'profile_path\': \'/due9MtmbvCMDd1aNveuMyjsaZ8W.jpg\', \'cast_id\': 152, \'character\': \'Connie Corleone Rizzi\', \'credit_id\': \'6489ab5799259c011c4280d8\', \'order\': 6}, {\'adult\': False, \'gender\': 2, \'id\': 3095, \'known_for_department\': \'Acting\', \'name\': \'Gianni Russo\', \'original_name\': \'Gianni Russo\', \'popularity\': 9.933, \'profile_path\': \'/5fjg2WPvuk1NvUpLyQ7aMJqOqy.jpg\', \'cast_id\': 153, \'character\': \'Carlo Rizzi\', \'credit_id\': \'6489ab77e375c00139c26e5b\', \'order\': 7}, {\'adult\': False, \'gender\': 2, \'id\': 3088, \'known_for_department\': \'Acting\', \'name\': \'Sterling Hayden\', \'original_name\': \'Sterling Hayden\', \'popularity\': 10.416, \'profile_path\': \'/dCTe6BsGSp9QTcva2Pz4wbxxYMY.jpg\', \'cast_id\': 154, \'character\': \'Captain McCluskey\', \'credit_id\': \'6489abe0d2b209014e0b8df9\', \'order\': 8}, {\'adult\': False, \'gender\': 2, \'id\': 3142, \'known_for_department\': \'Acting\', \'name\': \'John Marley\', \'original_name\': \'John Marley\', \'popularity\': 9.216, \'profile_path\': \'/k8YnXZDhhn28bSE75tLz9juR46u.jpg\', \'cast_id\': 155, \'character\': \'Jack Woltz\', \'credit_id\': \'6489ac0299259c011c42811f\', \'order\': 9}, {\'adult\': False, \'gender\': 2, \'id\': 3090, \'known_for_department\': \'Acting\', \'name\': \'Richard Conte\', \'original_name\': \'Richard Conte\', \'popularity\': 9.207, \'profile_path\': \'/bDegodf4dYGXMejdm4T6XgOJwlr.jpg\', \'cast_id\': 156, \'character\': \'Barzini\', \'credit_id\': \'6489ac126f8d9500afdf2251\', \'order\': 10}, {\'adult\': False, \'gender\': 2, \'id\': 3091, \'known_for_department\': \'Acting\', \'name\': \'Al Lettieri\', \'original_name\': \'Al Lettieri\', \'popularity\': 14.012, \'profile_path\': \'/fE5mEWPkkVJlCji0EoKht8PYw89.jpg\', \'cast_id\': 157, \'character\': \'Sollozzo\', \'credit_id\': \'6489ac20e375c000acc796d1\', \'order\': 11}, {\'adult\': False, \'gender\': 2, \'id\': 3093, \'known_for_department\': \'Acting\', \'name\': \'Abe Vigoda\', \'original_name\': \'Abe Vigoda\', \'popularity\': 5.94, \'profile_path\': \'/luWKPNb58IgJ2ovrtgPAzHGLLYL.jpg\', \'cast_id\': 158, \'character\': \'Sal Tessio\', \'credit_id\': \'6489ac2dbf31f2505708a65c\', \'order\': 12}, {\'adult\': False, \'gender\': 2, \'id\': 3096, \'known_for_department\': \'Acting\', \'name\': \'John Cazale\', \'original_name\': \'John Cazale\', \'popularity\': 8.306, \'profile_path\': \'/41wXX1FBalyIuf5eaA4S43Y8IfZ.jpg\', \'cast_id\': 159, \'character\': \'Fredo Corleone\', \'credit_id\': \'6489ac3a6f8d9500afdf2260\', \'order\': 13}, {\'adult\': False, \'gender\': 2, \'id\': 3143, \'known_for_department\': \'Acting\', \'name\': \'Rudy Bond\', \'original_name\': \'Rudy Bond\', \'popularity\': 3.816, \'profile_path\': \'/kP77m6ot9dfOR2V3ykbyOAx2diK.jpg\', \'cast_id\': 160, \'character\': \'Cuneo\', \'credit_id\': \'6489ac5de375c00139c26eb2\', \'order\': 14}, {\'adult\': False, \'gender\': 2, \'id\': 3144, \'known_for_department\': \'Acting\', \'name\': \'Al Martino\', \'original_name\': \'Al Martino\', \'popularity\': 3.008, \'profile_path\': \'/9luOyyiqWFNQgSOSStH66LTWZ3p.jpg\', \'cast_id\': 161, \'character\': \'Johnny Fontane\', \'credit_id\': \'6489ac7199259c01392da0db\', \'order\': 15}, {\'adult\': False, \'gender\': 1, \'id\': 933716, \'known_for_department\': \'Acting\', \'name\': \'Morgana King\', \'original_name\': \'Morgana King\', \'popularity\': 2.882, \'profile_path\': \'/zPsFAqH4NXD7rMWl2Kj3rEyGrKj.jpg\', \'cast_id\': 162, \'character\': \'Mama Corleone\', \'credit_id\': \'6489ac82e272600107248470\', \'order\': 16}, {\'adult\': False, \'gender\': 2, \'id\': 106811, \'known_for_department\': \'Acting\', \'name\': \'Lenny Montana\', \'original_name\': \'Lenny Montana\', \'popularity\': 7.833, \'profile_path\': \'/3R52Zh3MBCaSPqmcyWcD1Y0N4wo.jpg\', \'cast_id\': 163, \'character\': \'Luca Brasi\', \'credit_id\': \'6489ac90d2b20900ca220c08\', \'order\': 17}, {\'adult\': False, \'gender\': 2, \'id\': 99724, \'known_for_department\': \'Acting\', \'name\': \'John Martino\', \'original_name\': \'John Martino\', \'popularity\': 2.739, \'profile_path\': \'/3c8BOgJ8UdHi5x5BS3lYnFngxB5.jpg\', \'cast_id\': 164, \'character\': \'Paulie Gatto\', \'credit_id\': \'6489ac9dd2b20900ca220c0f\', \'order\': 18}, {\'adult\': False, \'gender\': 2, \'id\': 1195877, \'known_for_department\': \'Acting\', \'name\': \'Salvatore Corsitto\', \'original_name\': \'Salvatore Corsitto\', \'popularity\': 2.561, \'profile_path\': \'/79OfgwtdP5qsR1UX6ERkrdmRT8c.jpg\', \'cast_id\': 165, \'character\': \'Bonasera\', \'credit_id\': \'6489acaae375c000acc79705\', \'order\': 19}, {\'adult\': False, \'gender\': 2, \'id\': 3174, \'known_for_department\': \'Acting\', \'name\': \'Richard Bright\', \'original_name\': \'Richard Bright\', \'popularity\': 7.396, \'profile_path\': \'/b1ak2kPYUwBAYgD1yi50tz8BZ7J.jpg\', \'cast_id\': 166, \'character\': \'Neri\', \'credit_id\': \'6489acc2bf31f25054b828e4\', \'order\': 20}, {\'adult\': False, \'gender\': 2, \'id\': 20752, \'known_for_department\': \'Acting\', \'name\': \'Alex Rocco\', \'original_name\': \'Alex Rocco\', \'popularity\': 7.438, \'profile_path\': \'/uAG4qvYhYHuCyyXGm3lqC4o6ujc.jpg\', \'cast_id\': 167, \'character\': \'Moe Greene\', \'credit_id\': \'6489acd1d2b20900ad3ec8cf\', \'order\': 21}, {\'adult\': False, \'gender\': 2, \'id\': 3414, \'known_for_department\': \'Acting\', \'name\': \'Tony Giorgio\', \'original_name\': \'Tony Giorgio\', \'popularity\': 6.017, \'profile_path\': \'/1uhgwgjoX7WaakEOBmtBRJKtgEB.jpg\', \'cast_id\': 168, \'character\': \'Bruno Tattaglia\', \'credit_id\': \'6489ad08bf31f25055a33b08\', \'order\': 22}, {\'adult\': False, \'gender\': 2, \'id\': 82779, \'known_for_department\': \'Acting\', \'name\': \'Vito Scotti\', \'original_name\': \'Vito Scotti\', \'popularity\': 5.557, \'profile_path\': \'/zDGtXkASxpo3DzMNz6OI3NOp9v0.jpg\', \'cast_id\': 169, \'character\': \'Nazorine\', \'credit_id\': \'6489ad166f8d9501023e6cb2\', \'order\': 23}, {\'adult\': False, \'gender\': 1, \'id\': 982089, \'known_for_department\': \'Acting\', \'name\': \'Tere Livrano\', \'original_name\': \'Tere Livrano\', \'popularity\': 2.698, \'profile_path\': \'/eBoC3425jmwRlsT2W8qUDsNwVXB.jpg\', \'cast_id\': 170, \'character\': \'Theresa Hagen\', \'credit_id\': \'6489ad23d2b20900ad3ec8f9\', \'order\': 24}, {\'adult\': False, \'gender\': 2, \'id\': 3413, \'known_for_department\': \'Acting\', \'name\': \'Victor Rendina\', \'original_name\': \'Victor Rendina\', \'popularity\': 2.286, \'profile_path\': \'/vuNdsjDpgom80WBdB2WBTWuEIuM.jpg\', \'cast_id\': 171, \'character\': \'Philip Tattaglia\', \'credit_id\': \'6489ad306f8d9500c88beb2c\', \'order\': 25}, {\'adult\': False, \'gender\': 1, \'id\': 167363, \'known_for_department\': \'Acting\', \'name\': \'Jeannie Linero\', \'original_name\': \'Jeannie Linero\', \'popularity\': 4.271, \'profile_path\': None, \'cast_id\': 172, \'character\': \'Lucy Mancini\', \'credit_id\': \'6489ad4f6f8d95011f2439db\', \'order\': 26}, {\'adult\': False, \'gender\': 1, \'id\': 160728, \'known_for_department\': \'Acting\', \'name\': \'Julie Gregg\', \'original_name\': \'Julie Gregg\', \'popularity\': 7.447, \'profile_path\': \'/8Kx71BnZNtpzb86jH7fcArWhJBh.jpg\', \'cast_id\': 173, \'character\': \'Sandra Corleone\', \'credit_id\': \'6489ad696f8d9500c88beb4e\', \'order\': 27}, {\'adult\': False, \'gender\': 1, \'id\': 4111331, \'known_for_department\': \'Acting\', \'name\': \'Ardell Sheridan\', \'original_name\': \'Ardell Sheridan\', \'popularity\': 1.786, \'profile_path\': None, \'cast_id\': 174, \'character\': \'Mrs. Clemenza\', \'credit_id\': \'6489adb8bf31f25054b8295f\', \'order\': 28}, {\'adult\': False, \'gender\': 1, \'id\': 3145, \'known_for_department\': \'Acting\', \'name\': \'Simonetta Stefanelli\', \'original_name\': \'Simonetta Stefanelli\', \'popularity\': 18.623, \'profile_path\': \'/sVDrhgxuE6SHnj7q07OG6ywPUYR.jpg\', \'cast_id\': 175, \'character\': \'Apollonia - Sicilian Sequence\', \'credit_id\': \'6489ae04bf31f25055a33b87\', \'order\': 29}, {\'adult\': False, \'gender\': 2, \'id\': 27647, \'known_for_department\': \'Acting\', \'name\': \'Angelo Infanti\', \'original_name\': \'Angelo Infanti\', \'popularity\': 7.56, \'profile_path\': \'/dkRVpiDj9YyiuM15XZKT11zZBIR.jpg\', \'cast_id\': 176, \'character\': \'Fabrizio - Sicilian Sequence\', \'credit_id\': \'6489ae14d2b20900ca220cca\', \'order\': 30}, {\'adult\': False, \'gender\': 2, \'id\': 24604, \'known_for_department\': \'Acting\', \'name\': \'Corrado Gaipa\', \'original_name\': \'Corrado Gaipa\', \'popularity\': 3.842, \'profile_path\': \'/4QkQQwEhzx7kofdChg2stkIgMLe.jpg\', \'cast_id\': 177, \'character\': \'Don Tommasino - Sicilian Sequence\', \'credit_id\': \'6489ae21d2b20900ca220cd4\', \'order\': 31}, {\'adult\': False, \'gender\': 2, \'id\': 44860, \'known_for_department\': \'Acting\', \'name\': \'Franco Citti\', \'original_name\': \'Franco Citti\', \'popularity\': 5.357, \'profile_path\': \'/mttQPjOHaql4RKsfYriUA7HuROE.jpg\', \'cast_id\': 178, \'character\': \'Calo - Sicilian Sequence\', \'credit_id\': \'6489ae2e6f8d9500c88bebcf\', \'order\': 32}, {\'adult\': False, \'gender\': 2, \'id\': 119431, \'known_for_department\': \'Acting\', \'name\': \'Saro Urzì\', \'original_name\': \'Saro Urzì\', \'popularity\': 4.84, \'profile_path\': \'/wp88yz8T1TJcw5egiDu1m5a302D.jpg\', \'cast_id\': 179, \'character\': \'Vitelli - Sicilian Sequence\', \'credit_id\': \'6489ae3ce2726000afc4c253\', \'order\': 33}, {\'adult\': False, \'gender\': 2, \'id\': 38803, \'known_for_department\': \'Writing\', \'name\': \'Roman Coppola\', \'original_name\': \'Roman Coppola\', \'popularity\': 7.401, \'profile_path\': \'/rKamKkx78qjZTfvqi2OWCo5p6x5.jpg\', \'cast_id\': 182, \'character\': \'Boy on Street Who Attended Funeral (uncredited)\', \'credit_id\': \'6489af3ce2726001287c0ab0\', \'order\': 34}, {\'adult\': False, \'gender\': 1, \'id\': 1769, \'known_for_department\': \'Directing\', \'name\': \'Sofia Coppola\', \'original_name\': \'Sofia Coppola\', \'popularity\': 6.753, \'profile_path\': \'/dzHC2LxmarkBxWLhjp2DRa5oCev.jpg\', \'cast_id\': 181, \'character\': \'Michael Francis Rizzi (uncredited)\', \'credit_id\': \'6489af2de375c000acc797fe\', \'order\': 35}, {\'adult\': False, \'gender\': 0, \'id\': 1209294, \'known_for_department\': \'Acting\', \'name\': \'Don Costello\', \'original_name\': \'Don Costello\', \'popularity\': 1.276, \'profile_path\': None, \'cast_id\': 183, \'character\': \'Don Victor Stracci (uncredited)\', \'credit_id\': \'6489af7abf31f2505883d309\', \'order\': 36}, {\'adult\': False, \'gender\': 1, \'id\': 126072, \'known_for_department\': \'Acting\', \'name\': \'Italia Coppola\', \'original_name\': \'Italia Coppola\', \'popularity\': 1.115, \'profile_path\': None, \'cast_id\': 184, \'character\': \'Extra in Wedding Scene (uncredited)\', \'credit_id\': \'6489afb46f8d95011f243b21\', \'order\': 37}, {\'adult\': False, \'gender\': 2, \'id\': 2870, \'known_for_department\': \'Production\', \'name\': \'Gray Frederickson\', \'original_name\': \'Gray Frederickson\', \'popularity\': 2.289, \'profile_path\': None, \'cast_id\': 195, \'character\': "Cowboy on the Set at Woltz\'s Studio (uncredited)", \'credit_id\': \'6489b195e375c00139c270d3\', \'order\': 38}, {\'adult\': False, \'gender\': 2, \'id\': 160621, \'known_for_department\': \'Acting\', \'name\': \'Ron Gilbert\', \'original_name\': \'Ron Gilbert\', \'popularity\': 2.292, \'profile_path\': \'/qrY6w2k0YpuMB2yTCOv6cxeQtmw.jpg\', \'cast_id\': 185, \'character\': \'Usher in Bridal Party (uncredited)\', \'credit_id\': \'6489afe46f8d95013c752d10\', \'order\': 39}, {\'adult\': False, \'gender\': 2, \'id\': 1233541, \'known_for_department\': \'Acting\', \'name\': \'Sonny Grosso\', \'original_name\': \'Sonny Grosso\', \'popularity\': 3.986, \'profile_path\': None, \'cast_id\': 202, \'character\': \'Cop Outside Hospital (uncredited)\', \'credit_id\': \'6489b33fe272600107248730\', \'order\': 40}, {\'adult\': False, \'gender\': 2, \'id\': 20973, \'known_for_department\': \'Acting\', \'name\': \'Louis Guss\', \'original_name\': \'Louis Guss\', \'popularity\': 5.283, \'profile_path\': \'/hz5Akuh4QcqitlifYwDiZ9ut6Tr.jpg\', \'cast_id\': 180, \'character\': \'Don Zaluchi (uncredited)\', \'credit_id\': \'6489af11e375c000ff4ab5f2\', \'order\': 41}, {\'adult\': False, \'gender\': 2, \'id\': 1068099, \'known_for_department\': \'Acting\', \'name\': \'Randy Jurgensen\', \'original_name\': \'Randy Jurgensen\', \'popularity\': 2.419, \'profile_path\': \'/xRoN79wRLndTMCJoaBSsdjQVIzI.jpg\', \'cast_id\': 186, \'character\': "Sonny\'s Killer #1 (uncredited)", \'credit_id\': \'6489affed2b209014e0b8fdb\', \'order\': 42}, {\'adult\': False, \'gender\': 2, \'id\': 55672, \'known_for_department\': \'Acting\', \'name\': \'Tony King\', \'original_name\': \'Tony King\', \'popularity\': 6.225, \'profile_path\': \'/hOVVHEyc6euuuRhCLo6Q5YE4lLz.jpg\', \'cast_id\': 196, \'character\': \'Tony - Stablehand (uncredited)\', \'credit_id\': \'6489b214e375c000ff4ab714\', \'order\': 43}, {\'adult\': False, \'gender\': 2, \'id\': 61241, \'known_for_department\': \'Acting\', \'name\': \'Tony Lip\', \'original_name\': \'Tony Lip\', \'popularity\': 2.068, \'profile_path\': \'/6xz6XmjgiCCOm067OzWYziD4Mxa.jpg\', \'cast_id\': 206, \'character\': \'Wedding Guest (uncredited)\', \'credit_id\': \'6489b6276f8d9500e5015933\', \'order\': 44}, {\'adult\': False, \'gender\': 2, \'id\': 1503036, \'known_for_department\': \'Acting\', \'name\': \'Joe Lo Grippo\', \'original_name\': \'Joe Lo Grippo\', \'popularity\': 0.786, \'profile_path\': None, \'cast_id\': 188, \'character\': "Sonny\'s Bodyguard (uncredited)", \'credit_id\': \'6489b0736f8d9500afdf2448\', \'order\': 45}, {\'adult\': False, \'gender\': 2, \'id\': 106187, \'known_for_department\': \'Acting\', \'name\': \'Lou Martini Jr.\', \'original_name\': \'Lou Martini Jr.\', \'popularity\': 1.856, \'profile_path\': \'/85s5KR0BA6dhMJtOrvtKGY8Bz8E.jpg\', \'cast_id\': 187, \'character\': \'Boy at Wedding (uncredited)\', \'credit_id\': \'6489b033d2b20900ca220dd5\', \'order\': 46}, {\'adult\': False, \'gender\': 2, \'id\': 100503, \'known_for_department\': \'Acting\', \'name\': \'Raymond Martino\', \'original_name\': \'Raymond Martino\', \'popularity\': 2.391, \'profile_path\': None, \'cast_id\': 207, \'character\': \'Corleone Family Member (uncredited)\', \'credit_id\': \'6489b647e272600147bc20cf\', \'order\': 47}, {\'adult\': False, \'gender\': 2, \'id\': 1503035, \'known_for_department\': \'Acting\', \'name\': \'Joseph Medaglia\', \'original_name\': \'Joseph Medaglia\', \'popularity\': 2.681, \'profile_path\': None, \'cast_id\': 191, \'character\': \'Priest at Baptism (uncredited)\', \'credit_id\': \'6489b100bf31f250569dd401\', \'order\': 48}, {\'adult\': False, \'gender\': 1, \'id\': 2313192, \'known_for_department\': \'Acting\', \'name\': \'Carol Morley\', \'original_name\': \'Carol Morley\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 190, \'character\': \'Night Nurse (uncredited)\', \'credit_id\': \'6489b0cee27260010724864d\', \'order\': 49}, {\'adult\': False, \'gender\': 0, \'id\': 1290895, \'known_for_department\': \'Acting\', \'name\': \'Rick Petrucelli\', \'original_name\': \'Rick Petrucelli\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 189, \'character\': "Lou - Sollozzo\'s Driver (uncredited)", \'credit_id\': \'6489b09f99259c00accf128f\', \'order\': 50}, {\'adult\': False, \'gender\': 2, \'id\': 1237372, \'known_for_department\': \'Acting\', \'name\': \'Sal Richards\', \'original_name\': \'Sal Richards\', \'popularity\': 1.125, \'profile_path\': \'/gZSiZOtBVv1U4hqjlKkPr2p5rCP.jpg\', \'cast_id\': 198, \'character\': \'Drunk (uncredited)\', \'credit_id\': \'6489b2a2bf31f2505708a90f\', \'order\': 51}, {\'adult\': False, \'gender\': 2, \'id\': 1213795, \'known_for_department\': \'Acting\', \'name\': \'Tom Rosqui\', \'original_name\': \'Tom Rosqui\', \'popularity\': 4.036, \'profile_path\': None, \'cast_id\': 192, \'character\': \'Rocco Lampone (uncredited)\', \'credit_id\': \'6489b118e375c0011c8206ba\', \'order\': 52}, {\'adult\': False, \'gender\': 2, \'id\': 11480, \'known_for_department\': \'Acting\', \'name\': \'Frank Sivero\', \'original_name\': \'Frank Sivero\', \'popularity\': 7.375, \'profile_path\': \'/eqvhj0iNtcsN6EJhd21Goqi1DSq.jpg\', \'cast_id\': 199, \'character\': \'Street Extra (uncredited)\', \'credit_id\': \'6489b2f3e2726000e8c326a5\', \'order\': 53}, {\'adult\': False, \'gender\': 0, \'id\': 1209678, \'known_for_department\': \'Acting\', \'name\': \'Filomena Spagnuolo\', \'original_name\': \'Filomena Spagnuolo\', \'popularity\': 1.81, \'profile_path\': None, \'cast_id\': 200, \'character\': \'Extra in Wedding Scene (uncredited)\', \'credit_id\': \'6489b306bf31f2505f40b8be\', \'order\': 54}, {\'adult\': False, \'gender\': 2, \'id\': 16525, \'known_for_department\': \'Acting\', \'name\': \'Joe Spinell\', \'original_name\': \'Joe Spinell\', \'popularity\': 10.295, \'profile_path\': \'/jiok99ZvHDOj51BBgio2qvum0Mb.jpg\', \'cast_id\': 193, \'character\': \'Willi Cicci (uncredited)\', \'credit_id\': \'6489b12ee2726000e8c325be\', \'order\': 55}, {\'adult\': False, \'gender\': 2, \'id\': 138211, \'known_for_department\': \'Acting\', \'name\': \'Gabriele Torrei\', \'original_name\': \'Gabriele Torrei\', \'popularity\': 1.995, \'profile_path\': \'/x3KeYWTWX5SqZ3NuQGiWiadO4DI.jpg\', \'cast_id\': 197, \'character\': \'Enzo the Baker (uncredited)\', \'credit_id\': \'6489b22a99259c00e2f7628c\', \'order\': 56}, {\'adult\': False, \'gender\': 2, \'id\': 78336, \'known_for_department\': \'Directing\', \'name\': \'Nick Vallelonga\', \'original_name\': \'Nick Vallelonga\', \'popularity\': 4.619, \'profile_path\': \'/h0GwAHN1J5lDysqgWxMIg66LNBW.jpg\', \'cast_id\': 201, \'cha

In [12]:
df_model = df.copy()
df_model = df_model[['id', 'title', 'overview', 'keywords','genre_ids', 'cast', 'crew', 'year']]

In [13]:
df_model.isnull().sum()

id           0
title        0
overview     2
keywords     0
genre_ids    0
cast         0
crew         0
year         0
dtype: int64

In [14]:
df_model.dropna(inplace = True)

In [15]:
df_model.duplicated().sum()

0

In [16]:
df_model.iloc[1].keywords

"[{'id': 378, 'name': 'prison'}, {'id': 417, 'name': 'corruption'}, {'id': 796, 'name': 'police brutality'}, {'id': 818, 'name': 'based on novel or book'}, {'id': 2885, 'name': 'prison cell'}, {'id': 4779, 'name': 'delinquent'}, {'id': 8622, 'name': 'parole board'}, {'id': 9777, 'name': 'prison escape'}, {'id': 12662, 'name': 'wrongful imprisonment'}, {'id': 180172, 'name': 'framed for murder'}, {'id': 207883, 'name': '1940s'}, {'id': 236369, 'name': 'voiceover'}]"

In [17]:
import ast
def ext_k(a):
    
    lst = []
    for i in ast.literal_eval(a):
        lst.append(i['name'])
    return lst

In [18]:
df_model['keywords']=df_model['keywords'].apply(ext_k)

In [19]:
df_model.head(1)

,id,title,overview,keywords,genre_ids,cast,crew,year
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[italy, loss of loved one, love at first sight...","['Drama', 'Crime']","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno...",1972

In [20]:
def ext_cast(a):
    
    lst = []
    c = 0
    for i in ast.literal_eval(a):
        if c < 3:
            lst.append(i['name'])
        c += 1
    return lst

In [21]:
df_model['cast'] = df_model['cast'].apply(ext_cast)

In [22]:
df_model.head(1)

,id,title,overview,keywords,genre_ids,cast,crew,year
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[italy, loss of loved one, love at first sight...","['Drama', 'Crime']","[Marlon Brando, Al Pacino, James Caan]","[{'adult': False, 'gender': 2, 'id': 154, 'kno...",1972

In [23]:
def ext_crew(a):
    
    lst = []
    for i in ast.literal_eval(a):
        if i['job'] == 'Director':
            lst.append(i['name'])
        
    return lst

In [24]:
df_model['director'] = df_model['crew'].apply(ext_crew)

In [25]:
df_model.head(1)

,id,title,overview,keywords,genre_ids,cast,crew,year,director
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[italy, loss of loved one, love at first sight...","['Drama', 'Crime']","[Marlon Brando, Al Pacino, James Caan]","[{'adult': False, 'gender': 2, 'id': 154, 'kno...",1972,[Francis Ford Coppola]

In [26]:
df_model.drop(['crew'], axis = 1, inplace = True)
df_model.head(1)

,id,title,overview,keywords,genre_ids,cast,year,director
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[italy, loss of loved one, love at first sight...","['Drama', 'Crime']","[Marlon Brando, Al Pacino, James Caan]",1972,[Francis Ford Coppola]

In [27]:
def ext_gen(a):    
    lst = []
    for i in ast.literal_eval(a):
        lst.append(i)
    return lst

In [28]:
df_model['genres'] = df_model['genre_ids'].apply(ext_gen)

In [29]:
df_model.head(1)

,id,title,overview,keywords,genre_ids,cast,year,director,genres
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[italy, loss of loved one, love at first sight...","['Drama', 'Crime']","[Marlon Brando, Al Pacino, James Caan]",1972,[Francis Ford Coppola],"[Drama, Crime]"

In [30]:
def stick(b):
    lst2 = []
    for i in b:
        lst2.append(i.replace(" ", ""))
    return lst2

In [31]:
df_model['cast'] = df_model['cast'].apply(stick)
df_model['director'] = df_model['director'].apply(stick)
df_model['genres'] = df_model['genres'].apply(stick)
df_model['keywords'] = df_model['keywords'].apply(stick)

In [32]:
df_model.head()

,id,title,overview,keywords,genre_ids,cast,year,director,genres
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[italy, lossoflovedone, loveatfirstsight, base...","['Drama', 'Crime']","[MarlonBrando, AlPacino, JamesCaan]",1972,[FrancisFordCoppola],"[Drama, Crime]"
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[prison, corruption, policebrutality, basedonn...","['Drama', 'Crime']","[TimRobbins, MorganFreeman, BobGunton]",1994,[FrankDarabont],"[Drama, Crime]"
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[italy, italianamerican, cuba, symbolism, gang...","['Drama', 'Crime']","[AlPacino, RobertDuvall, DianeKeaton]",1974,[FrancisFordCoppola],"[Drama, Crime]"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[basedonnovelorbook, factory, concentrationcam...","['Drama', 'History', 'War']","[LiamNeeson, BenKingsley, RalphFiennes]",1993,[StevenSpielberg],"[Drama, History, War]"
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[family'sdailylife, familyhistory, love-hatere...","['Comedy', 'Drama', 'Romance']","[ShahRukhKhan, Kajol, AmrishPuri]",1995,[AdityaChopra],"[Comedy, Drama, Romance]"

In [33]:
df_model['overview'] = df_model['overview'].apply(lambda x:x.split())

In [34]:
df_model.head(1)

,id,title,overview,keywords,genre_ids,cast,year,director,genres
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[italy, lossoflovedone, loveatfirstsight, base...","['Drama', 'Crime']","[MarlonBrando, AlPacino, JamesCaan]",1972,[FrancisFordCoppola],"[Drama, Crime]"

In [35]:
df_model['tags'] = df_model['overview'] + df_model['keywords'] + df_model['cast'] + df_model['director'] + df_model['genres']
df_model.head(3)

,id,title,overview,keywords,genre_ids,cast,year,director,genres,tags
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[italy, lossoflovedone, loveatfirstsight, base...","['Drama', 'Crime']","[MarlonBrando, AlPacino, JamesCaan]",1972,[FrancisFordCoppola],"[Drama, Crime]","[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[prison, corruption, policebrutality, basedonn...","['Drama', 'Crime']","[TimRobbins, MorganFreeman, BobGunton]",1994,[FrankDarabont],"[Drama, Crime]","[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,...","[italy, italianamerican, cuba, symbolism, gang...","['Drama', 'Crime']","[AlPacino, RobertDuvall, DianeKeaton]",1974,[FrancisFordCoppola],"[Drama, Crime]","[In, the, continuing, saga, of, the, Corleone,..."

In [36]:
dp = ['overview', 'keywords', 'cast', 'director', 'genres', 'genre_ids']
final = df_model.drop(dp, axis = 1)

In [37]:
final[['year']] = final[['year']].astype(str)

In [38]:
final['title2'] = final['title'] + " (" + final['year'] + ")"

In [39]:
final.drop('year', axis=1, inplace= True)

In [40]:
final.head()

,id,title,tags,title2
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...",The Godfather (1972)
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...",The Shawshank Redemption (1994)
2,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,...",The Godfather Part II (1974)
3,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...",Schindler's List (1993)
4,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...",Dilwale Dulhania Le Jayenge (1995)

In [41]:
final['tags'] = final['tags'].apply(lambda x:" ".join(x))

In [42]:
final.head(1)

,id,title,tags,title2
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",The Godfather (1972)

In [43]:
final['tags'] = final['title'] + " " + final['tags']

In [44]:
final['tags'][0]

'The Godfather Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge. italy lossoflovedone loveatfirstsight basedonnovelorbook europe symbolism patriarch organizedcrime mafia lawyer religion revengemotive crimefamily sicilianmafia religioushypocrisy gunviolence risetopower deadhorse gangviolence 1940s 1950s mafiawar MarlonBrando AlPacino JamesCaan FrancisFordCoppola Drama Crime'

In [45]:
final['tags']

0       The Godfather Spanning the years 1945 to 1955,...
1       The Shawshank Redemption Framed in the 1940s f...
2       The Godfather Part II In the continuing saga o...
3       Schindler's List The true story of how busines...
4       Dilwale Dulhania Le Jayenge Raj is a rich, car...
                              ...
9995    Dark Was the Night An evil is unleashed in a s...
9996    Machete Kills Ex-Federale agent Machete is rec...
9997    George of the Jungle Deep in the African jungl...
9998    Cadaver In the aftermath of a nuclear disaster...
9999    Twin Murders: The Silence of the White City Vi...
Name: tags, Length: 9998, dtype: object

In [46]:
final['tags'] = final['tags'].apply(lambda x: x.lower())

In [47]:
final['tags'][0]

'the godfather spanning the years 1945 to 1955, a chronicle of the fictional italian-american corleone crime family. when organized crime family patriarch, vito corleone barely survives an attempt on his life, his youngest son, michael steps in to take care of the would-be killers, launching a campaign of bloody revenge. italy lossoflovedone loveatfirstsight basedonnovelorbook europe symbolism patriarch organizedcrime mafia lawyer religion revengemotive crimefamily sicilianmafia religioushypocrisy gunviolence risetopower deadhorse gangviolence 1940s 1950s mafiawar marlonbrando alpacino jamescaan francisfordcoppola drama crime'

In [48]:
#To standarise the results
import nltk
from nltk.stem.porter import PorterStemmer

In [49]:
ps = PorterStemmer()

In [50]:
def normal(tag):
    lst = []
    for i in tag.split():
        lst.append(ps.stem(i))
    nrml = " ".join(lst)
    return nrml

In [51]:
normal('spanning the years 1945 to 1955, a chronicle of the fictional italian american corleone crime family. when organized crime family patriarch, vito corleone barely survives an attempt on his life, his youngest son, michael steps in to take care of the would be killers, launching a campaign of bloody revenge. italy lossoflovedone loveatfirstsight basedonnovelorbook europe symbolism patriarch organizedcrime mafia lawyer religion revengemotive crimefamily sicilianmafia religioushypocrisy gunviolence risetopower deadhorse gangviolence 1940s 1950s mafiawar marlonbrando alpacino jamescaan francisfordcoppola drama crime')

'span the year 1945 to 1955, a chronicl of the fiction italian american corleon crime family. when organ crime famili patriarch, vito corleon bare surviv an attempt on hi life, hi youngest son, michael step in to take care of the would be killers, launch a campaign of bloodi revenge. itali lossoflovedon loveatfirstsight basedonnovelorbook europ symbol patriarch organizedcrim mafia lawyer religion revengemot crimefamili sicilianmafia religioushypocrisi gunviol risetopow deadhors gangviol 1940 1950 mafiawar marlonbrando alpacino jamescaan francisfordcoppola drama crime'

In [52]:
final['tags'] = final['tags'].apply(normal)

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [100]:
cv = CountVectorizer(stop_words = 'english', max_features = 3000)
movie_vectors = cv.fit_transform(final['tags']).toarray()
similarity_score = cosine_similarity(movie_vectors)

In [101]:
movie_vectors.shape

(9998, 3000)

In [120]:
similarity_score.shape

(9998, 9998)

In [103]:
cv.get_feature_names_out()

array(['000', '10', '11', ..., 'zombi', 'zone', 'zoo'], dtype=object)

In [104]:
final[final['title'] == "The Godfather Part II"].index[0]

2

In [105]:
sorted(list(enumerate(similarity_score[15])), reverse = True, key = lambda x: x[1])[1:11]

[(2823, 0.2920125302610444),
 (319, 0.2539183580595128),
 (2018, 0.2533201985524494),
 (5477, 0.22299786933522422),
 (1914, 0.2132007163556105),
 (4171, 0.20100756305184245),
 (6478, 0.1973855084879307),
 (4440, 0.19512313566832118),
 (999, 0.19462473604038075),
 (1464, 0.1899342940993966)]

In [106]:
def recommendation_15(title):
    movie_id = final[final['title'] == title].index[0]
    dist = similarity_score[movie_id]
    recommended = sorted(list(enumerate(dist)), reverse = True, key = lambda x: x[1])[1:16]
    
    for i in recommended:
        print(final.iloc[i[0]].title)

In [107]:
final['title'].head(10)

0                          The Godfather
1               The Shawshank Redemption
2                  The Godfather Part II
3                       Schindler's List
4            Dilwale Dulhania Le Jayenge
5    Spider-Man: Across the Spider-Verse
6                           12 Angry Men
7                          Spirited Away
8                             Your Name.
9                               Parasite
Name: title, dtype: object

In [108]:
recommendation_15('The Godfather Part II')

The Godfather Part III
The Godfather
Dead Man Down
Street Flow
Suburra
Sharper
Bugsy
Bomb City
Death Wish 3
The Mafia Kills Only in Summer
The Big Heat
Menace II Society
The Many Saints of Newark
The Informer
French Connection II

In [109]:
recommendation_15('Spider-Man: Into the Spider-Verse')

Spider-Man: Across the Spider-Verse
Spider-Man
Spider-Man 3
Spider-Man: Homecoming
Spider-Man: No Way Home
Arachnophobia
Spider-Man 2
The Amazing Spider-Man 2
The Amazing Spider-Man
Iron Man 2
The Invincible Iron Man
Spider-Man: Far From Home
Big Ass Spider!
Charlotte's Web
Batman and Harley Quinn

In [110]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9998 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      9998 non-null   int64
 1   title   9998 non-null   object
 2   tags    9998 non-null   object
 3   title2  9998 non-null   object
dtypes: int64(1), object(3)
memory usage: 648.6+ KB

In [64]:
import pickle

In [65]:
movies_dict = final.to_dict()

In [66]:
pickle.dump(movies_dict, open('movies_raw.pkl', 'wb'))

In [111]:
pickle.dump(similarity_score, open('sim_score.pkl', 'wb'))

In [114]:
ss = pd.DataFrame(similarity_score)

,0,1,2,3,4,5,6,7,8,9,...,9988,9989,9990,9991,9992,9993,9994,9995,9996,9997
0,1.000000,0.284268,0.455648,0.086066,0.155902,0.032478,0.117073,0.053606,0.024398,0.084921,...,0.044023,0.034021,0.155543,0.125988,0.000000,0.089087,0.081832,0.068465,0.057735,0.046829
1,0.284268,1.000000,0.091430,0.146795,0.189934,0.069244,0.159745,0.022858,0.020806,0.024140,...,0.037543,0.000000,0.221079,0.053722,0.000000,0.075974,0.023262,0.077850,0.049237,0.059904
2,0.455648,0.091430,1.000000,0.055364,0.085960,0.020892,0.090371,0.137931,0.062776,0.109254,...,0.056637,0.000000,0.033352,0.121566,0.028318,0.028653,0.070186,0.058722,0.074278,0.030124
3,0.086066,0.146795,0.055364,1.000000,0.069007,0.050315,0.072548,0.027682,0.075593,0.029235,...,0.022733,0.000000,0.107096,0.032530,0.045466,0.023002,0.056344,0.023570,0.029814,0.048365
4,0.155902,0.189934,0.085960,0.069007,1.000000,0.086802,0.125157,0.057307,0.078246,0.060523,...,0.070593,0.181848,0.166282,0.033672,0.047062,0.047619,0.058321,0.121988,0.030861,0.050063

In [116]:
ss.to_csv('ss.csv')